#балансировщик с обратным прокси

upstream backend {
  least_conn;
  server 192.168.18.241:80;
  server 192.168.18.242:80;
  server 192.168.18.243:80;
}

server {
  listen 80 default_server;
  listen [::]:80 default_server;
  server_name albert-infra.site;
    location / {
        proxy_pass http://backend;
    }
}
