server {
    listen 80 default_server;
    listen [::]::80 default_server;
    server_name albert-infra.site;


    location / {
      proxy_pass http://192.168.18.241:80;
      proxy_set_header Host $host;
    }
}
