127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.18.231 nfs1 nfs1.albert-infra.site
192.168.18.232 nfs2 nfs2.albert-infra.site
